.idea
.vscode
*.dll
*.xml
*.cache
*.pdb
*.txt
*.nupkg
*.p7s
*._

[Bb]in/
[Oo]bj/

Core/ArcaeaHash.cs
PublicApi/Assets/Preview.cs
PublicApi/Data/Challenge.cs
PublicApi/Image/Image.cs
PublicApi/Utils/ImageGen.cs
